<!DOCTYPE html>
<html>
<head>
	<title>Creation Pins</title>
	<!-- Bootstrap 4.5.2 CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- Slick 1.8.1 jQuery plugin CSS (Sliders) -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<!-- Fancybox 3 jQuery plugin CSS (Open images and video in popup) -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<!-- AOS 2.3.4 jQuery plugin CSS (Animations) -->
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<!-- Startup CSS (Styles for all blocks) - Remove ".min" if you would edit a css code -->
		<link href="{{ asset('css/style.min.css')}}" rel="stylesheet" />
		<!-- jQuery 3.5.1 -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	{% block stylesheet %}{% endblock %}
</head>
<body>

	{{ form_start(form)}}
<section class="bg-light form_2">
		<div class="container px-xl-0">
			<div class="row justify-content-center text-center text-md-left">
				<div class="col-lg-5 col-md-6 col-sm-10">
					<form action="form-handler.php" method="post" class="pt-105 pb-100">
						<h2 class="mb-45 small" data-aos="fade-up" data-aos-delay="0">
							Connectez-vous maintenant ! 
						</h2>
						<div data-aos="fade-up" data-aos-delay="0">
							<div class="mb-10 f-14 semibold text-uppercase sp-20">
								Email
							</div>
							{{ form(form.email,{'attr':{'placeholder':"Your email", 'class':"input mb-25 w-full lg border-gray focus-action-1 color-heading placeholder-gray text-center text-md-left" }})}}
						</div>
						<div data-aos="fade-up" data-aos-delay="0">
							<div class="mb-10 f-14 semibold text-uppercase sp-20">
								Mot de passe
							</div>
							{{ form(form.password,{'attr':{'placeholder':"Your password"}})}}
						</div>
					<div class="mt-25 d-flex flex-wrap align-items-center buttons" data-aos="fade-up" data-aos-delay="0">
							<button type="submit" class="btn mr-20 mb-20 mb-xl-0 w-210 lg action-1">
								Connexion
							</button>
						</div>
					</form>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-lg-6 col-md-5 d-none d-md-block overflow-hidden img_holder" data-aos="fade-up" data-aos-delay="1200">
					<img src="{{ asset('uploads/e0ce35c7af4fc7e17fcb3e2b33abc54e.jpg')}}" alt="" class="h-full absolute">
				</div>
			</div>
		</div>
	</section>

	{{ form_end(form)}}
	
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
		<!-- Fancybox 3 jQuery plugin JS (Open images and video in popup) -->
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	
		<!-- Slick 1.8.1 jQuery plugin JS (Sliders) -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<!-- AOS 2.3.4 jQuery plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
		<!-- Maskedinput jQuery plugin JS (Masks for input fields) -->
		<script src="{{ asset('js/jquery.maskedinput.min.js')}}"></script>
		<!-- Startup JS (Custom js for all blocks) -->
		<script src="{{ asset('js/script.js') }}"></script>			
	 {% block javascripts %}{% endblock %}
</body>
</html>

