{% extends 'base.html.twig' %}

{% block body %}
    
    {{ form_start(formFournisseur) }}{# balise ouvrante du form avec la methode et l'action #}
     {{ form_row(formFournisseur.nom,{'attr':{'placeholder': "votre nom"}}) }}
     {{ form_row(formFournisseur.prenom,{'attr':{'placeholder': "votre prenom"}}) }}
    {{ form_row(formFournisseur.email,{'attr':{'placeholder': "votre email"}}) }}
    {{ form_row(formFournisseur.password,{'attr':{'placeholder': "votre mot de passe"}}) }}
    <div class="form-group">
      <label for="">Confirmation du mot de passe</label>
      <input type="password" class="form-control" id="" placeholder="confirmation du mot de passe">
    </div>
    
    
    <button type="submit" class="btn btn-primary">Enregistrer et passer à la suite</button>
    {{ form_end(formFournisseur) }}
    
    
    {#{{form(formFournisseur)}} pour afficher le formulaire en entier #}
{% endblock %}